{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">



        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

        <title>{{page_title}}</title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <!--<div class="header__img">
                <img src="{% static "perfil.jpg"%} alt="Gambar Profil">
            </div>-->
        </header>
<!--Side Bar-->
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="/dashboard" class="nav__logo">
                        <i class='bx bx-happy nav__logo-icon'></i>
                        <span class="nav__logo-name">Lab UDINUS <br> Login
                            {{ user.username }}</span>
                    </a>

                    <div class="nav__list">

                        <a href="/dashboard" class="nav__link ">
                        <i class='bx bx-grid-alt nav__icon' ></i>
                            <span class="nav__name">Dashboard</span>
                        </a>

                        <a href="/datapasien" class="nav__link">
                            <i class='bx bx-user-pin nav__icon' ></i>
                            <span class="nav__name">Data Training</span>
                        </a>

                        <a href="/datatraining" class="nav__link">
                            <i class='bx bx-file nav__icon' ></i>
                            <span class="nav__name">File Data Training </span>
                        </a>

                        <a href="/knn" class="nav__link">
                            <i class='bx bx-file-find nav__icon' ></i>
                            <span class="nav__name">Testing Data K-NN</span>
                        </a>

                        <a href="/dtc" class="nav__link active">
                            <i class='bx bx-file-find nav__icon' ></i>
                            <span class="nav__name">Testing Data C4.5</span>
                        </a>

                        <a href="/datapetugas" class="nav__link">
                            <i class='bx bx-user nav__icon' ></i>
                            <span class="nav__name">Data Dokter</span>
                        </a>

                    </div>
                </div>

                <a href="/logout_user" class="nav__link">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>



            </nav>
        </div>
<!--End Sidebar-->

 {% if user.is_authenticated and user.is_staff and user.is_superuser%}
       <h1>Testing C4.5</h1>

       <form method="POST">
                        {% csrf_token %}
                         {{ form|crispy }}
                        <input class="btn btn-info" type="submit" value="Prediksi">
           <br>
                        <a class="btn btn-primary mb-3 mt-2" href="{% url 'dtc:dtc'%}">Kembali </a>
       </form>
{% else %}
{% include 'dtc/doktertest.html'%}
{% endif %}
        <!--===== MAIN JS =====-->
        <script src="{%static 'main.js' %}"></script>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->

    </body>

</html>